*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: -5px;
    margin-top: 25px;
    font-family: 'Pacifico', cursive, sans-serif;
    text-shadow: 2px 2px 8px #000000;

}

.calculatorGrid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculatorGrid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: #AECAEE;
}

.calculatorGrid > button:hover {
    background-color: #CAEEAE;
    transition: 0.2s;
}

.twoSpaces {
    grid-column: 2 span;
}

.outputContainer {
    grid-column: 1 / -1;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.outputContainer .previousOutput {
    color: white;
    font-size: 1.5rem;
    font-style: italic;
}

.outputContainer .currentOutput {
    color: white;
    font-size: 2.5rem;
}

footer {
    font-style: italic;
    text-align: center;
    padding-bottom: 1.5em;
}

.joshyee {
    color: #CAEEAE;

}


/* mobile screens */

@media (max-width: 375px) {

.calculatorGrid {
    margin-top: -100px;
    margin-bottom: -100px;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: minmax(85px, auto) repeat(5, 85px);
}

button.deleteButton {
    font-size: 8px;
    text-align: center;
    font-style: italic;
}

}
